.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

$size: 650px;

.bingo {
  font-size: 18px;
  position: absolute;
  width: $size;
  height: $size;

  .row {
    width: 100%;
    height: 20%;
    margin-left: 0;
    margin-right: 0;
  }

  .col {
    width: 20%;
    height: 100%;
    padding: 0;
    border: 1px solid;
  }

  .square {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
    cursor: pointer;
    text-align: center;
    padding: 10px;

    &::selection {
      color: black;
    }

    &.clicked {
      background-color: #1a9cff;
      color: white;

      &::selection {
        color: white;
      }
    }
  }

  .free {
    font-weight: bold;
    font-size: 20px;
    background-color: #1a9cff;
    color: white;
  }
}
