#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: inline-block;
}

$size: 650px;

.bingo {
  font-size: 18px;
  position: relative;
  width: $size;
  height: $size;
  @media screen and (max-width: 720px) {
    width: 100vw;
    overflow-wrap: break-word;
  }

  .row {
    width: 100%;
    height: 20%;
    margin-left: 0;
    margin-right: 0;
  }

  .col {
    width: 20%;
    max-width: 20%;
    height: 100%;
    padding: 0;
    border: 1px solid;
  }

  .square {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
    cursor: pointer;
    text-align: center;
    padding: 10px;

    &::selection {
      color: black;
    }

    &.clicked {
      background-color: #1a9cff;
      color: white;

      &::selection {
        color: white;
      }
    }

    @media screen and (max-width: 720px) {
      overflow-wrap: break-word;
      word-wrap: break-word;
      display: inline-block;
      vertical-align: middle;
      padding: 15px 2px 0 2px;
      font-size: 16px;
    }
  }

  .free {
    font-weight: bold;
    font-size: 20px;
    background-color: #1a9cff;
    color: white;
  }

  .reset {
    position: absolute;
    left: calc(50% - 50px);
    width: 100px;
    bottom: -60px;
    opacity: 0.5;
    transition: 0.5s all;
    margin-bottom: 10px;

    &:hover {
      opacity: 1;
    }
  }
}

.resetAnimation {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    transition: 0.5s all;
    z-index: 100;
  }

  &.on {
    &:before {
      background-color: #1a9cff;
    }
  }
}
